/******************MOBILE STYLES**************************/
/*general styles*/
*, .navbar-nav p, .container-contact h3{
	font-family: "gothamHTF-book";
}

h3, h1, .cuadro-informativo p, .nav-links li a, .titulo-section, .slide-content-text{
	font-family: "gothamHTF-light";
}

.cuadro-baner p, .navbar-nav span, .phone-contact, .cuadro-informativo h4, .socialNet li p, .nav-links li h3, .fecha, h4, .link, .btn-blue span, .container-contact div p:nth-child(2){
	font-family: "gothamHTF-bold";
}


/*social*/
.nav-social{
    padding: 0 15px;
}
.twitter, .instagram, .facebook, .youtube{
    height: 20px;
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

.twitter {
	width: 25px;
    background-image: url("../images/logos/twitter.png");
}

.instagram {
	width: 28px;
    background-image: url("../images/logos/instagram.png");
}

.nav>li>a.facebook {
    margin-left: 16px;
    background-image: url("../images/logos/facebook.png");
}

.youtube {
	width: 25px;
    background-image: url("../images/logos/youtube.png");
}

/*footer*/
.reservations .booking:before{
    content: "";
    width: 60px;
    border-top: 1px solid #3d3d3d;
    height: 1px;
    position: absolute;
    top: -18px;
    left: 50%;
    margin-left: -30px;
}

/*footer*/
footer{
    font-family: 'gotham_lightregular';
    color: #fff;
    background-color: #222;
    padding-top: 40px;
    padding-bottom: 80px;
}

.site-map .site-map-nav-title{
    text-transform: uppercase;
    font-family: 'gotham_mediumregular';
    font-size: 10pt;
    cursor: pointer;
}

.reservations .booking a{
    color: #fff;
    font-family: 'gotham_mediumregular';
    font-size: 20pt;
}
.reservations address strong{
    font-family: 'gotham_mediumregular';
    font-size: 11pt;
}
.footer-connect .footer-connect-label{
    font-family: 'gotham_mediumregular';
    display: none;
}