/*Estilos generales*/

/*Estilos header*/
@media (min-width: 979px){
	.navbar-wrapper .navbar-main-wrapper .navbar-nav{
		margin-right: 0px;
	}

	.navbar-wrapper .navbar {
	    margin-bottom: 0px;
	    padding-right: 15px;
	    padding-left: 15px;
	    border: 0;
	}

	.logo{
		display: inline-block;
	    line-height: 1;
	    vertical-align: middle;
	}
	.navbar-wrapper .navbar-brand{
		height: 60px;
	    line-height: normal;
	}

	.navbar-wrapper .navbar{
		background: #000;
	}

	.navbar-wrapper .navbar .phone-contact{
		position: initial;
		margin: 0;
	}
}