@media (min-width: 767px){ /******************TABLET STYLES**************************/

}


@media (min-width: 979px){ /******************DESKTOP STYLES**************************/
    /*--------------------Navbar----------------------*/
    .navbar-wrapper .navbar-main-wrapper .navbar-nav{
        margin-right: 0px;
    }

    .navbar-wrapper .navbar {
        margin-bottom: 0px;
        padding-right: 15px;
        padding-left: 15px;
        border: 0;
    }

    .navbar-wrapper .navbar-brand{
        height: 60px;
        line-height: normal;
        max-width: 220px;
        padding: 0;
        background-color: #232323;
    }

    .navbar-wrapper .navbar-brand:hover{
        background-color: #232323;
    }

    .navbar-wrapper .navbar-brand img{
        display: inline-block;
        max-height: 100%;
        vertical-align: middle;
    }

    .logo{
        display: inline-block;
        line-height: 1;
        vertical-align: middle;
    }

    .nav.navbar-nav.navbar-right{
        margin: 10px 0 0;
    }

    .navbar-nav .phone-contact{
        color: #fff;
        font-weight: 700;
    }
    .navbar-nav>li>a{
        padding: 5px;
    }

    .navbar-nav>li>a>span{
        display: block;
        padding: 5px 10px;
    }
    .navbar-nav>li>a>span.active{
        color: #0B92B1;
        background-color: #222222;
    }
    .navbar-nav li:last-child{
        border-left: 1px solid #232323;
        padding-left: 15px;
    }

    .navbar-nav li .phone-contact + p{
        text-transform: uppercase;
        color: #fff;
        font-size: 10px;
    }

    .navbar-wrapper .navbar{
        background: #000;
        margin-left: -15px;
        margin-right: -15px;
    }

    .navbar-wrapper .navbar .phone-contact,.navbar-nav .phone-contact + p{
        position: initial;
        margin: 0;
    }
    .navbar-right{
        float: right;
    }

    /*-------------------PRESS-KIT LISTA----------------*/

    a{
        font-weight: 600;
        color: #2189D8;
    }

    .press h4, .press small{
        font-weight: 700;
    }

    .press h4{
        margin-bottom: 0px;
    }

    .press p{
        margin-top: 10px;
    }

    /*-----------------------------------*/

    /*----------------- -- menu aside -----------------*/

    .twitter, .instagram, .facebook, .youtube{
        width: 25px;
        height: 25px;
        background-size: 100% 100%;
        margin-right: 10px;
    }

    .twitter {
        background-image: url("../images/logos/twitter.png");
    }

    .instagram {
        background-image: url("../images/logos/instagram.png");
    }

    .facebook {
        background-image: url("../images/logos/facebook.png");
    }

    .youtube {
        background-image: url("../images/logos/youtube.png");
    }
    
    .socialNet li{
        display: inline-block;
        width: 23%;
    }

    .socialNet li a{
        float: right;
        padding: 10px 0px;
    }

    .socialNet li a:hover{
        background-color: white;
    }

    .socialNet li:first-child{
        width: 100%;
        text-align: center;
        font-size: 15px;
        font-weight: 900;
    }

    .socialNet li:nth-child(2) a{
        margin-right: 0px;
    }

    .socialNet li:nth-child(4) a{
        width: 100%;
        margin-right: 0px;
    }

    .input-group{
        margin-top: 15px;
    }

    .input-search{
        border-right: none;
        border-radius: 0px;
    }

    button.btn-search{
        background: none;
        border-left: none;
        border-radius: 0px;
        box-shadow:none;
    }

    button.btn-search:hover{
        background: none;
        border-left: none;
        box-shadow:none;
        border-color: #ccc;
    }

    .nav-links li a{
        display: inline-block !important;
        color: black;
        padding: 5px 10px !important;
        margin: 5px;
    }

    aside .nav-links{
        margin-top: 15px;
        padding: 10px;
        border: 1px solid #cecece;
    }

    aside .nav-links li:first-child{
        font-size: 30px;
        margin-left: 15px;
        margin-right: 15px;
        border-bottom: 1px solid #cecece;
    }

    li h3{
        font-weight: 600;        
    }

    .nav-links>li>a:focus, .nav-links>li>a:hover {
        text-decoration: none;
        background-color: #295DCC;
        color: #FFF;
        display: inline-block;
    }
    /*---------------------------------------*/


    /*----------------------------- Footer, Map Site, Reservations, Connect------------------------------ */

    footer{
        font-family: 'gotham_lightregular';
        color: #fff;
        background-color: #222;
        padding-top: 40px;
        padding-bottom: 80px;
    }
    footer .container-fluid{
        max-width: 1366px!important;
    }
    .site-map{
        text-align: center;
        margin-bottom: 35px;
    }
    .site-map .site-map-nav-title{
        text-transform: uppercase;
        font-family: 'gotham_mediumregular';
        font-size: 10pt;
        cursor: pointer;
    }
    .site-map .active .site-map-nav-title{
        color: #32a1bd;
        /*word-spacing: 4px;
        letter-spacing: 1px;*/
    }
    .site-map .nav{
        display: none;
    }
    .site-map .my-vida{
        display: none!important;
    }
    .site-map .active .nav{
        display: block;
    }
    .site-map .nav>li>a,
    .reservations address a{
        font-size: 10pt;
        color: #ccc;
        padding: 3px 0;
    }

    .site-map .nav > li > a:hover,
    .site-map .nav > li > a:focus,
    .reservations address a:hover,
    .reservations address a:focus{
        color: #fff;
        background-color: transparent;
    }
    .reservations{
        text-align: center;
    }
    .reservations .booking{
        padding-bottom: 20px;
    }
    .reservations .booking:before{
        content: "";
        width: 60px;
        border-top: 1px solid #3d3d3d;
        height: 1px;
        position: absolute;
        top: -18px;
        left: 50%;
        margin-left: -30px;
    }
    .reservations .booking h1{
        margin-top: 0;
        font-size: 11pt;
        margin-bottom: 0;
    }
    .reservations .booking a{
        color: #fff;
        font-family: 'gotham_mediumregular';
        font-size: 20pt;
    }
    .reservations address strong{
        font-family: 'gotham_mediumregular';
        font-size: 11pt;
    }
    .footer-connect .footer-connect-label{
        font-family: 'gotham_mediumregular';
        display: none;
    }
    .footer-connect .nav li{
        display: inline-block;
    }
    .footer-connect .nav > li > a{
        padding: 10px;
        opacity: 0.8;
        filter: alpha(opacity=80);
    }
    .footer-connect .nav > li > a:hover,
    .footer-connect .nav > li > a:focus{
        background-color: transparent;
        opacity: 1;
        filter: alpha(opacity=100);
    }
    .footer-connect .youtube{
        width: 50px;
    }

    .footer-connect .nav > li > a.instagram{
        margin-right: 15px;
    }
    /*ESTILOS GENERALES*/
    /* ---------------- Para centrar ---------------- */
    .block-1024{
        position: relative;
        max-width: 1024px;
        margin: 0 auto 25px auto;
    }
    /* ---------------- Banner ---------------- */
    .full-img{
        width: 100%;
    }
    .cuadro-baner{
        width: 35%;
        height: 40%;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.75);
        position: absolute;
        font-size: 22px;
        text-align: center;
        left: 3%;
        top: 45%;
    }
    .cuadro-baner p{   
        font-size: 12px;
        text-align: left;
        padding-left: 25px;
    }
    .banner-wrapper{
        margin-top: 60px;
        margin-bottom: 30px;
    }
    /* ---------------- Img Caption ---------------- */
    .titulo-section{
        text-align: left;
        font-size: 40px;
        font-family: sans-serif;
        font-weight: 100;
        margin: 0px 14px;
        margin-bottom: 20px;
    }
    .img-caption{
        position: relative;
    }
    .cuadro-caption{
        width: 100%;
        height: 35%;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.75);
        position: absolute;
        font-size: 12px;
        left: 0%;
        top: 65%;
        padding-left: 15px;
        padding-right: 25px;
    }
    .cuadro-caption span{
        color: #999;
        display: block;
        margin-top: -10px;
    }
    .cuadro-caption p{
        margin: 10px 0px;
    }
    /* ---------------- Summary ---------------- */
    .separador{
        padding: 0px;
        padding-top: 20px;
    }
    .container-noticias{
        margin-top: 30px;
    }
    .container-noticias div:first-child{
        padding: 0px;
    }
    .container-noticias h3{
        color: #07a5c9;
        margin-top: -5px;
    }
    .container-noticias small{
        display: block;
        margin-top: -10px;
        font-size: 10px;
        font-weight: 600;
    }
    .container-noticias p{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .btn-blue{
        background-color: #00159b;
        color: #fff;
        padding: 8px;
        text-transform: uppercase;
    }
    .btn-blue span{
        display: inline-block;
        
    }
    .arrow{
        width: 32px;
        height: 32px;
        background-color: #293cb6;
        background-image: url('../images/icons/right-arrow.png');
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: 50% 50%;
        margin-bottom: -11px;
        margin-right: -8px;
        margin-left: 15px;
    }
    /* ---------------- Paginacion ---------------- */
    .arrow-pag{
        width: 32px;
        height: 32px;
        background-color: #00159b;
        background-image: url('../images/icons/right-arrow.png');
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: 50% 50%;
        margin-bottom: -11px;
        margin-right: -8px;
        margin-left: 15px;
    }
    .paginacion{
        background-color: #00159b;
        color: #fff;
        padding: 8px;
        text-transform: uppercase;
    }
    .paginacion span{
        display: inline-block;
        
    }
    .paginacion:hover, .pag-num a:hover span{
        background-color: #07a5c9;
    }
}
