/*General styles*/
.nopadding{
    padding: 0;
}
a{
    outline: none!important;
}

/*Menú*/
.navbar-wrapper .navbar-main-wrapper .navbar-nav{
    margin-right: 0px;
}

.navbar-wrapper .navbar {
    margin-bottom: 0px;
    padding-right: 15px;
    padding-left: 15px;
    border: 0;
}

.navbar-wrapper .navbar-brand{
    height: 60px;
    line-height: normal;
    max-width: 220px;
    padding: 0;
    background-color: #232323;
}

.navbar-wrapper .navbar-brand:hover{
    background-color: #232323;
}

.navbar-wrapper .navbar-brand img{
    display: inline-block;
    max-height: 100%;
    vertical-align: middle;
}

.logo{
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
}

.nav.navbar-nav.navbar-right{
    margin: 10px 0 0;
}
.nav.navbar-nav.navbar-right>li>a{
    color: #fff;
}
.nav.navbar-nav.navbar-right>li>a>span:hover, .nav.navbar-nav.navbar-right>li>a>span:focus{
    color: #0B92B1;
    background-color: #222222;
}

.navbar-nav .phone-contact{
    color: #fff;
    font-weight: 700;
}
.navbar-nav>li>a{
    padding: 5px;
}

.navbar-nav>li>a>span{
    display: block;
    padding: 5px 10px;
}
.navbar-nav>li>a>span.active{
    color: #0B92B1;
    background-color: #222222;
}
.navbar-nav li:last-child{
    border-left: 1px solid #232323;
    padding-left: 15px;
}

.navbar-nav li .phone-contact + p{
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
}

.navbar-wrapper .navbar{
    background: #000;
    margin-left: -15px;
    margin-right: -15px;
}

.navbar-wrapper .navbar .phone-contact,.navbar-nav .phone-contact + p{
    position: initial;
    margin: 0;
}
.navbar-right{
    float: right;
}

/*-------------------PRESS-KIT/ PRESS-RELEASE EXAMPLE----------------*/
.titulo-section .fecha{
    display: block;
    font-size: 15px;
    font-weight: 700;
}

.press-element h1{
    margin-bottom: 0px;
}

.release-kit h3{
    margin-bottom: 25px;
}

.social-counter{
    margin: 20px 0px;
}
a.btn-blue{
    color: white;
    text-decoration: initial;
}

/*-------------------PRESS-KIT LISTA----------------*/

a{
    font-weight: 600;
    color: #2189D8;
}

.noticia hr{
    border-top:1px solid #cecece;
}

.titulo-press{
    border-bottom: 1px solid #000;
    /*margin-bottom: 30px;*/
    padding-bottom: 5px; 
}

.press h4, .press small{
    font-weight: 700;
}

.press h4{
    margin-bottom: 0px;
}

.press p{
    margin-top: 10px;
}


/*----------------- IN THE NEWS EXAMPLE ------------------*/
.slider-inner .slider-arrows > *{
    height: 100%;
    margin-top: -52px;
}

.slider-arrows > *:before{
    margin-top: 25px;
}


.slide-content{
    height: 42px;
}

.slide .slide-content{
    background: #222;
}

.slider-inner{
    overflow: hidden;
}

/*----------------- -- menu aside -----------------*/

.input-group *{
    box-shadow: none;
}

.socialNet li{
    display: inline-block;
    width: 40px;
}

.nav>li>a{
    margin: 0 auto;
}

.socialNet li a:hover{
    background-color: white;
}

.socialNet li:first-child{
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-weight: 900;
}

.socialNet li:nth-child(4) a{
    width: 100%;
    margin-right: 0px;
}

.input-group{
    margin-top: 15px;
}

.input-search{
    border-right: none;
    border-radius: 0px;
}

button.btn-search{
    background: none;
    border-left: none;
    border-radius: 0px;
    box-shadow:none;
}

button.btn-search:hover{
    background: none;
    border-left: none;
    box-shadow:none;
    border-color: #ccc;
}

.nav-links li a{
    display: inline-block !important;
    color: black;
    padding: 5px 10px !important;
    margin: 5px;
}

aside .nav-links{
    margin-top: 15px;
    padding: 10px;
    border: 1px solid #cecece;
}

aside .nav-links li:first-child{
    font-size: 30px;
    margin-left: 15px;
    margin-right: 15px;
    border-bottom: 1px solid #cecece;
}

li h3{
    font-weight: 600;        
}

.nav-links>li>a:focus, .nav-links>li>a:hover {
    text-decoration: none;
    background-color: #1F33B5;
    color: #FFF;
    display: inline-block;
}
/*---------------------------------------*/

/*---------------Newsletter------------------*/
.suscribe-newsletter {
    background-color: #32a1bd;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-bottom: 0!important;
    z-index: 1;
}

.suscribe-newsletter .form-group {
    margin-left: auto;
    margin-right: auto;
}
.suscribe-newsletter .form-control-static {
    font-family: 'gotham_mediumregular';
    /* font-size: 22pt; */
    font-size: 14pt;
    color: #fff;
    margin-left: -20px;
}
.suscribe-newsletter .form-group.vidanta-select, .vidanta-select {
    position: relative;
}

.section {
    position: relative;
    margin-bottom: 30px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}
.suscribe-newsletter .btn {
    font-family: 'gotham_mediumregular';
    background-color: #222;
    color: #fff;
    border-radius: 0;
    border: 1px solid #222;
}

.form-group .input-group{
    margin-top: 0px;
}

.suscribe-newsletter .btn {
    background-image: none;
}

.input-group-btn:last-child>.btn:hover{
    margin-left: -1px;
}

/*footer */
.form-inline .input-group {
    display: inline-table;
    vertical-align: middle;
}


.bottom-branding ul li {
    width: 14%;
    float: left;
    line-height: 70px;
}

.bottom-branding ul li:first-child {
    width: 16%;
    border-right: 1px solid #3d3d3d;
}

.bottom-branding ul li:nth-child(2) img {
    margin-top: 8%;
}
.bottom-branding ul li:nth-child(3) img {
    margin-top: 3%; 
}
.bottom-branding ul li:nth-child(4) img {
    margin-bottom: 9%;
}
.bottom-branding ul li:nth-child(5) img {
    margin-top: 2%;
}
.bottom-branding ul li:nth-child(6) img {
    margin-top: 3%;
}
.bottom-branding ul li:nth-child(7) img {
    margin-bottom: 1%;
}
.site-map {
    width: 70%;
    padding-left: 50px;
}

.site-map ul, .site-map h4{
    text-align: left;
}

.reservations {
    width: 30%;
}

.reservations .booking:before {
content: "";
left: -10px;
right: auto;
height: 280px;
border-left: 1px solid #3d3d3d;
position: absolute;
}

/*.reservations .booking:before{
    content: "";
    right: -40px;
    left: auto;
    border-top: 0;
    border-left: 1px solid #3d3d3d;
    height: 120px;
}*/

.reservations .booking:after {
    content: "";
    position: absolute;
    left: -10px;
    top: 85px;
    width: 280px;
    border-top: 1px solid #3d3d3d;
}

.bottom-nav, .bottom-branding {
    margin-top: 20px;
    border-top: 1px solid #3d3d3d;
    padding: 20px 0 0;
}

.bottom-branding ul{
    list-style: none;
}

.bottom-branding ul li:first-child {
    width: 100%;
    text-align: center;
}

.bottom-nav ul {
    list-style: none;
    text-align: center;
    padding: 0;

}
.bottom-nav ul li {
    display: inline-block;
    padding: 0px 10px;
    border-left: 1px solid #3d3d3d;
}

.bottom-nav ul li:first-child {
    border: 0;
}

.bottom-nav ul li a {
    color: #ccc;
    font-size: 11px;
}

.bottom-branding ul li:first-child {
    width: 16%;
    border-right: 1px solid #3d3d3d;
}

/*----------------------------- Footer, Map Site, Reservations, Connect------------------------------ */

footer{
    font-family: 'gotham_lightregular';
    color: #fff;
    background-color: #222;
    padding-top: 40px;
    padding-bottom: 80px;
}
footer .container-fluid{
    max-width: 1366px!important;
}
.site-map{
    text-align: center;
    margin-bottom: 35px;
}
.site-map .site-map-nav-title{
    text-transform: uppercase;
    font-family: 'gotham_mediumregular';
    font-size: 10pt;
    cursor: pointer;
}
.site-map .active .site-map-nav-title{
    color: #32a1bd;
    /*word-spacing: 4px;
    letter-spacing: 1px;*/
}
.site-map .nav{
    display: block;
}
.site-map .my-vida{
    display: none!important;
}
.site-map .active .nav{
    display: block;
}
.site-map .nav>li>a,
.reservations address a{
    font-size: 10pt;
    color: #ccc;
    padding: 3px 0;
}

.site-map .nav > li > a:hover,
.site-map .nav > li > a:focus,
.reservations address a:hover,
.reservations address a:focus{
    color: #fff;
    background-color: transparent;
}
.reservations{
    text-align: left;
}
.reservations .booking{
    text-align: left;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.reservations .booking h1{
    margin-top: 0;
    font-size: 11pt;
    margin-bottom: 0;
}
.reservations .booking a{
    color: #fff;
    font-family: 'gotham_mediumregular';
    font-size: 20pt;
}
.reservations address strong{
    font-family: 'gotham_mediumregular';
    font-size: 11pt;
}
.footer-connect .footer-connect-label{
    font-family: 'gotham_mediumregular';
    display: none;
}
.footer-connect .nav li{
    display: inline-block;
}
.footer-connect .nav > li > a{
    padding: 10px;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.footer-connect .nav > li > a:hover,
.footer-connect .nav > li > a:focus{
    background-color: transparent;
    opacity: 1;
    filter: alpha(opacity=100);
}
.footer-connect .youtube{
    width: 50px;
}

.footer-connect .nav > li > a.instagram{
    margin-right: 15px;
}
/*ESTILOS GENERALES*/
/* ---------------- Para centrar ---------------- */
.block-1024{
    position: relative;
    max-width: 1024px;
    margin: 0 auto 25px auto;
}
/* ---------------- Banner ---------------- */
.full-img{
    width: 100%;
}
.cuadro-banner{
    color: #fff;
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    font-size: 22px;
    text-align: center;
    left: 5%;
    top: 45%;
    padding: 15px 20px;
}
.cuadro-banner p, .cuadro-banner h3{
    margin: 0;
    text-align: left;
}
.cuadro-banner h3{
    letter-spacing: 2px;
}
.cuadro-banner p{
    font-size: 12px;
    font-weight: 700;
}

.banner-wrapper{
    margin-bottom: 30px;
    min-height: 200px;
    background-image: url('../images/BannnerGrandLuxxeNuevoVallarta.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
/* ---------------- Img Caption ---------------- */
.titulo-section{
    text-align: left;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 100;
    margin: 0px;
    margin-bottom: 20px;
}
.titulo-section h1{
    margin: 0;
}
.img-caption{
    position: relative;
}
.cuadro-caption{
    width: 100%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    font-size: 12px;
    bottom: 0;
    padding: 0px 30px 10px 20px;
}
.cuadro-caption h4{
    margin-bottom: 0px;
}
.cuadro-caption span.fecha{
    color: #999;
    display: block;
}
.cuadro-caption p{
    margin: 10px 0px;
}
.cuadro-caption .link{
    text-decoration: underline;
}
.cuadro-caption .link + span{
    display: inline-block;
    margin-left: 5px;
}
/* ---------------- Summary ---------------- */
.separador{
    padding: 0px;
    padding-top: 20px;
}
.container-noticias{
    margin-top: 30px;
}
.container-noticias div:first-child{
    padding: 0px;
}
.container-noticias h3{
    margin-top: -5px;
    font-weight: 700;
}
.container-noticias small{
    display: block;
    font-size: 10px;
    font-weight: 600;
}
.container-noticias p{
    padding-top: 10px;
    padding-bottom: 10px;
}
.paginacion, .btn-blue, .paginacion-next{
    background-color: #00159b;
    color: #fff;
    padding: 9px;
    text-transform: uppercase;
}
.active-pagination{
    background-color: #07a5c9;
    color: #fff;
}

.cuadro-caption .btn-blue{
    padding: 10px 8px 9px;
}

.btn-blue span{
    display: inline-block;
}

.btn-blue span:first-child{
    padding-right: 5px;
}

.social-counter span{
    font-size: 11px;
}


.arrow, .download{
    width: 32px;
    height: 32px;
    background-color: #293cb6;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 50% 50%;
    margin-bottom: -11px;
    margin-right: -8px;
}

.arrow{
    background-image: url('../images/icons/right-arrow.png');
}

.download{
    height: 33px;
    background-image: url('../images/icons/download.png');
}
/* ---------------- Paginación ---------------- */
.paginacion{
    display: inline-block;
    padding: 5px 0px;
    text-align: center;
    line-height: normal;
    width: 25px;
}

.paginacion-next{
    width: 75px;
    display: inline-block;
    padding: 5px 20px 5px 0;
    line-height: normal;
    text-align: center;
    background-image: url('../images/icons/right-arrow.png');
    background-repeat: no-repeat;
    background-size: 15px 12px;
    background-position: 90% 50%;
}
.paginacion-next span{
    display: inline-block;
}



.paginacion:hover, .paginacion-next:hover{
    background-color: #07a5c9;
    color: #fff;
    text-decoration: none;
}
.pag-num{
    margin-left: -14px;
}
/* ---------------- Media Contact ---------------- */
.container-contact{
    margin-top: 20px;
}

.container-contact h3{
    color: #07a5c9;
    margin-top: -5px;
}
/* ---------------- About Vidanta ---------------- */
.cuadro-informativo{
    background-color: #00159b;
    color: #fff;
    margin-bottom: 20px;
}
.cuadro-informativo h4, .cuadro-informativo p{
    padding: 10px;
    margin-bottom: 0px;
}
.cuadro-informativo h4{
    text-transform: uppercase;
}
.text-description p{
    padding-left: 0px;
}
.descripton-news{
    margin-top: 40px;
}
.text-description{
    margin-top: -23px;
    padding: 0px;
}
.sin-padding-right{
    padding-right: 0px;
}
.titulo-blue h3{
    color: #07a5c9;
    margin-top: 20px;
    margin-left: 0px;
    margin-bottom: 40px;
}
.titulo-blue{
    display: inline-block;
}
/* ---------------- Botones Sociales ---------------- */
.social-right{
    display: inline-block;
    float: right;
}
.sociales{
    display: inline-block;
    float: right;
    margin-top: 3%;
}



/******************MOBILE STYLES**************************/
/*general styles*/
*, .navbar-nav p, .container-contact h3{
    font-family: "gothamHTF-book";
}

h3, h1, .cuadro-informativo p, .nav-links li a, .titulo-section, .slide-content-text{
    font-family: "gothamHTF-light";
}

.cuadro-baner p, .navbar-nav span, .phone-contact, .cuadro-informativo h4, .socialNet li p, .nav-links li h3, .fecha, h4, .link, .btn-blue span, .contact p:first-child{
    font-family: "gothamHTF-bold";
}

footer .site-map li a{
    font-family: "gotham_lightregular";
    font-weight: normal;
}

footer .reservations .booking h1{
    font-family: "gotham_lightregular";
    font-weight: 500;
    font-size: 16pt;
}

footer .reservations .booking a, footer address{
    font-family: "gotham_mediumregular";
    font-weight: normal;
}

/*social*/
.nav-social{
    padding: 0 15px;
}
.twitter, .instagram, .facebook, .youtube{
    height: 20px;
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

.twitter {
    width: 25px;
    background-image: url("../images/logos/twitter.png");
}

.instagram {
    width: 28px;
    background-image: url("../images/logos/instagram.png");
}

.nav>li>a.facebook {
    margin-left: 16px;
    background-image: url("../images/logos/facebook.png");
}

.youtube {
    width: 25px;
    background-image: url("../images/logos/youtube.png");
}

/*footer*/
footer{
    font-family: 'gotham_lightregular';
    color: #fff;
    background-color: #222;
    padding-top: 40px;
    padding-bottom: 80px;
}

.site-map .site-map-nav-title{
    text-transform: uppercase;
    font-family: 'gotham_mediumregular';
    font-size: 10pt;
    cursor: pointer;
}

.reservations .booking a{
    color: #fff;
    font-family: 'gotham_mediumregular';
    font-size: 20pt;
}
.reservations address strong{
    font-family: 'gotham_mediumregular';
    font-size: 11pt;
}
.footer-connect .footer-connect-label{
    font-family: 'gotham_mediumregular';
    font-size: 16pt;
}

footer .nav-social li a{
    height: 20px;
}

footer .instagram, footer .facebook{
    width: 20px;
}

footer .twitter{
    width: 23;
}

footer .youtube{
    width: 50px;
}

.fb-share-button iframe, .fb-share-button span{
    width: 60px !important;
    height: 20px !important;
    /*overflow: visible !important;
    margin-top: -3px;*/
}

.fb-share-button {
    top: 0 !important;
}


/********************LIFERAY STYLES***********************/
/*General styles liferay*/
.portlet{
    background-color: #FFF;
    border: none;
    margin: 0;
    padding: 0;
}

/*Estilos aside categorias*/

.portlet-asset-tags-navigation{
    margin-top: 15px;
    padding: 10px;
    border: 1px solid #cecece;
}

.portlet-asset-tags-navigation .portlet-topper{
    background: none;
    border: none;
    border-bottom: 1px solid #cecece;
    border-radius: 0;
    margin: 0 15px;
}

.portlet-asset-tags-navigation .portlet-title span:first-child{
    display: none;
}

.portlet-asset-tags-navigation .portlet-title-text{
    font-size: 24px;
    font-family: "gothamHTF-bold";
    font-weight: 600;
    text-shadow: none;
    display: block;
    margin: 20px 0px 10px;
}

.tag-items{
    padding: 0;
    margin: 0;
}

.tag-items + br{
    display: none;
}

.tag-items li{
    float: none;
    display: block;
    margin: 0;
}

.tag-items li > span a{
    text-transform:capitalize;
    display: inline-block !important;
    padding: 5px 10px !important;
    margin: 5px;
    color: #000;
    font-family: "gothamHTF-light";
}

.tag-items li > span a:hover{
    text-decoration: none;
    background-color: #1F33B5;
    color: #FFF;
}

/*Asset Publisher general styles*/
.portlet-asset-publisher .asset-title{    
    font-family: "gothamHTF-bold";
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.1;
}

.portlet-asset-publisher .asset-title a:hover{
    text-decoration: none;
}

.portlet-asset-publisher .asset-more a{
    background-color: #00159b;
    margin-top: 10px;
    color: #fff;
    padding: 5px 10px;
    text-transform: uppercase;
    text-decoration: initial;
    display: inline-block;
}
.press-release-asset.portlet-asset-publisher .asset-abstract,
.press-news-asset.portlet-asset-publisher .asset-abstract{
    padding: 15px 0px;
    border-bottom: 1px solid #cecece;
}
.press-release-asset.portlet-asset-publisher .asset-content,
.press-news-asset.portlet-asset-publisher .asset-content{
    margin: 0;
}

/*Asset publisher press news*/

.press-news-asset .default-asset-publisher{
    position: relative;
    padding-top: 20px;
    border-bottom: 1px solid #cecece;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.press-news-asset .portlet-body > .asset-abstract:first-of-type{
    position: relative;
    background-image: url('../images/BigGrandLuxxeNuevoVallarta.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    padding:0
}
.press-news-asset .portlet-body > .asset-abstract:first-of-type .abstract-custom-caption{
    width: 100%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    font-size: 12px;
    bottom: 0;
    padding: 15px 30px 15px 20px;
}

.press-news-asset .portlet-body > .asset-abstract:first-of-type .asset-small-image{
    position: absolute;
    opacity: 0;
}
.press-news-asset .portlet-body > .asset-abstract:first-of-type .abstract-custom-caption .asset-title{
    margin-left: 0;
    margin-bottom: 10px;
}
.press-news-asset .portlet-body > .asset-abstract:first-of-type .abstract-custom-caption .asset-title a{
    color: #FFF;
}

.press-news-asset .portlet-body > .asset-abstract:first-of-type .abstract-custom-caption .asset-content{
    margin:0;
}

.press-news-asset.portlet-asset-publisher .asset-title {
    margin-left: 35.33333333%;
    margin-bottom: 5px;
}

.press-news-asset.portlet-asset-publisher .asset-content{
    margin-left: 35.33333333%;
    margin-right: 0;
}

.press-news-asset.portlet-asset-publisher .asset-small-image{
    position: absolute;
    opacity: 1;
    top: 10px;
    left: 0;
    width: 33.33333333%;
    padding: 0;
}

.press-news-asset.portlet-asset-publisher .asset-small-image img{
    width: 100%;
}
/*Asset publisher Press Release*/
/*ELIMINAR ESTE SELECTOR*/
.press-release-asset .asset-small-image, .press-kit-asset .asset-small-image{
    display: none;
}

/*Asset publisher press kit*/
.press-kit-asset.portlet-asset-publisher .asset-abstract .asset-content{
    margin-left: 0;
}

.press-kit-asset.portlet-asset-publisher .asset-more a{
    background-color: transparent;
    padding: 0;
    font-size: 14px;
    outline: none!important;
    text-decoration: none;
    font-family: "gothamHTF-bold";
    font-weight: 600;
    color: #2189D8;
    text-transform: uppercase;
}
.press-kit-asset.portlet-asset-publisher .asset-more a:hover{
    color: #23527C;
    text-decoration: underline;
}

/*Asset publisher full content*/
.press-kit-asset.portlet-asset-publisher .asset-full-content .asset-content{
    margin: 0px;
}

/*** Sobreescritura de Estilos Liferay ***/

.portlet-asset-publisher .asset-title{
    margin: 0;
    padding: 0;
    margin-bottom: 0px;
    font-weight: 700;
    font-family: "gothamHTF-bold";
    border-bottom: 0;
}
.portlet-asset-publisher .asset-title a,
.portlet-asset-publisher .asset-title a:hover{
    color: #333;
}
.portlet-asset-publisher .asset-title a img{
    display: none;
}

/*search*/
.portlet-search .portlet-content{
    padding: 10px 0;
}

.portlet-search input[name$=keywords]{
    width: 100%;
    height: 35px;
    padding: 0 10px;
    background: none;
}

.portlet-search form input:last-child{
    position: absolute;
    right: 15px;
    margin-top: -25px;
}

/*stay connected*/

ul.nav.nav-social {
    text-align: center;
    margin: 0;
}

.nav>li>a.facebook{
    margin-left:0px
}

.twitter{
    margin-left: 0 !important;
}

.instagram{
    margin-right: 0 !important;
}