/*Estilos generales*/

/*Estilos header*/
.logo{
	display: inline-block;
    line-height: 1;
    vertical-align: middle;
}
.navbar-wrapper .navbar-brand{
	height: 60px;
    line-height: normal;
}

.navbar-wrapper .navbar{
	background: #000;
}

.navbar-wrapper .navbar .phone-contact{
	position: initial;
	margin: 0;
}